.modal-container {
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    width: 600px;
    max-width: 100%;    
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
}
