body {
    font-family: 'BreezeSans', sans-serif, Arial;
    overflow-y: scroll;
    background-color: #2eaed5;
    margin: 0;
}

.flexbox-register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.flexbox-form-container {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 25%;
    border: 2px solid #FFFFFF;
    border-width: 2px;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgb(0, 0, 0);
}

.flexbox-p-register {
    height: 10%;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
}

form[name="registerForm"] {
    height: 90%;
}

.flexbox-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.flexbox-input-form-item {
    display: flex;
}

.flexbox-input-form-item-name {
    display: flex;
}

.input-item-name {
    width: 32%;
    padding: 5px;
    border: 2px solid #ccc;
    font-family: 'BreezeSans';
}

#lastName {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.input-span-name {
    position: static;
    height: 16px;
    padding: 7px;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-span {
    position: static;
    height: 16px;
    padding: 7px;
    border: 2px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-item {
    width: 90%;
    padding: 5px;
    border: 2px solid #ccc;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'BreezeSans';
}

.btn {
    align-self: center;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    font-family: 'BreezeSans';
    font-weight: bold;
    border-radius: 5px;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.btn:hover {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
}

.homepageLink {
    text-decoration: none;
    color: black;
}

.loginLink,
.registerLink {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

@media screen {

    .input-item,
    #lastName {
        margin-right: 38px;
    }

    span {
        margin-left: 38px;
    }

    button {
        margin-left: 10px;
        margin-right: 10px;
    }

}

/*TODO*/
/*Play with media queries and achieve responsiveness on Register and Login pages*/

.music-player {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    background-color: #FFFFFF;
}

.about-song {
    display: flex;
    align-items: center;
    width: 5%;
    height: 100%;
}

.music-player-panel {
    display: flex;
    width: 75%;
    height: 100%;
}

.previous-song, .play-song, .next-song {
    display: flex;
    align-items: center;
    width: 7%;
    height: 100%;
}

.progress-bar-song {
    width: 65%;
    height: 2.6em;
    background-color: #000000;
    color: white;
    text-align: center;
    border: 1px solid red;
}

.progress-bar-song::before {
    content: attr(data-label);
}

.slide-volume {
    width: 20%;
    height: 100%;
    border: 1px solid red;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: 0;
}

.icons:hover {
    background-color: #cccccc;
    transition: 0.5s;
}

.p-homepage {
    height: 100%;
    text-align: center;
    margin: 0 21%;
}

.flexbox-homepage-container {
    display: flex;
    justify-content: center;
    height: 100dvh;
}

.flexbox-homepage-item-1, .flexbox-homepage-item-3 {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    background-color: #FFFFFF;
}

.flexbox-homepage-item-1 {
    border-right: 1px solid #ccc;
}

.flexbox-homepage-item-3 {
    border-left: 1px solid #ccc;
}

.flexbox-homepage-item-2 {
    width: 70%;
    height: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0;
}

.nav-bar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.homeLink {
    text-decoration: none;
    font-size: 24px;
    font-weight: 1000;
    color: #2eaed5;
    padding: 10% 40%;
    border-radius: 20px;
}

.homeLink:hover, .queue-list-item:hover {
    background-color: #2eaed5;
    color: #FFFFFF;
    transition: 0.5s;
}

.queue {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50%;
}

.queue-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%;
    width: 100%;
    gap: 15px;
}

.queue-list-item {
    display: flex;
    justify-content: left;
    list-style-type: none;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    height: 50px;
}

.song-image {
    width: 50px;
    height: 50px;
}

.song-artist {
    color: #848484;
}

.song-artist, .song-name {
    text-align: center;
    margin: 2px 0;
    font-size: small;
}

.queue-list-item:hover .song-artist {
    color: #FFFFFF;
    transition: 0.5s;
}

hr {
    border: 0;
    width: 96%;               
    background-color:#ccc;
    height: 1px;
}

.section-1, .section-2 {
    padding: 0;
    margin: 5px 10px;
}

.section-1 {
    margin-top: 10px;
}
